<main>
    <section id="section-banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/img/banner-1.jpg" class="d-block w-100" alt="Personagens de jogos">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/banner-2.jpg" class="d-block w-100" alt="Mais personagens de jogos">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/banner-3.jpg" class="d-block w-100" alt="Outros personagens de jogos">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
<h2>Jogos em Promoção</h2>
    <mat-grid-list cols="3">
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo1.jpg" alt="Mortal Kombat X">
                <mat-card-header>
                    <mat-card-title>Mortal Kombat X</mat-card-title>
                    <mat-card-subtitle>DATA DE LANÇAMENTO:
                        14/abr./2015</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p>
                        Experimente a próxima geração da maior franquia de jogos de luta.

                        Mortal Kombat X combina uma apresentação cinematográfica sem igual com uma jogabilidade nova,
                        formando
                        os Kombates mais brutais da história.

                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$12,90</p>
                    <button mat-button>Comprar</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo2.jpg" alt="Middle-earth™: Shadow of Mordor™">
                <mat-card-header>
                    <mat-card-title>Middle-earth™: Shadow of Mordor™</mat-card-title>
                    <mat-card-subtitle>DATA DE LANÇAMENTO:
                        30/set./2014</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p>
                        Lute por toda Mordor e descubra a verdade sobre o espírito que o impulsiona; conheça as origens
                        dos Anéis do Poder, construa sua lenda e enfrente o mal de Sauron nesta nova crônica da
                        Terra-média.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$19,90</p>
                    <button mat-button>Comprar</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo3.jpg" alt="Mad Max">
                <mat-card-header>
                    <mat-card-title>Mad Max</mat-card-title>
                    <mat-card-subtitle>DATA DE LANÇAMENTO:
                        1/set./2015</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p>
                        Jogue como Mad Max, um sobrevivente e herói relutante. Não há nada que Max queira mais do que
                        deixar a loucura para trás e encontrar um pouco de paz.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$9,90</p>
                    <button mat-button>Comprar</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>



</main>